<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85502945671-bu4p34gkmscon6htejlukjdd37r24oj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85502945671-bu4p34gkmscon6htejlukjdd37r24oj4</string>
	<key>API_KEY</key>
	<string>AIzaSyB6GbFZ2YfNeZgoKaG1PxWfRXf3KzqgzjI</string>
	<key>GCM_SENDER_ID</key>
	<string>85502945671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fit.scoop.scoop-app</string>
	<key>PROJECT_ID</key>
	<string>scoop-2463b</string>
	<key>STORAGE_BUCKET</key>
	<string>scoop-2463b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85502945671:ios:192116c908fc34020e8b22</string>
</dict>
</plist>